[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nishansaini
[access "refs/for/refs/*"]
	read = group user/nishansaini
	push = group user/nishansaini
	label-Code-Review = -2..+2 group user/nishansaini
	label-Verified = -1..+1 group user/nishansaini
	rebase = group user/nishansaini
	removeReviewer = group user/nishansaini
	submit = group user/nishansaini
[access "refs/heads/*"]
	read = group user/nishansaini
	create = group user/nishansaini
	push = +force group user/nishansaini
	pushMerge = group user/nishansaini
[access "refs/tags/*"]
	push = +force group user/nishansaini
	pushTag = group user/nishansaini
	pushSignedTag = group user/nishansaini
